# Ejercicios Tipos avanzados

## Ejercicios de tipos avanzados

**1) Trabajemos con listas y tuplas**
* Crea una lista y una tupla que contenga strings (al menos 3 elementos). Tematica libre, sobre lo que quieras, vehiculos, comida, música, etc.
* Muestra la lista y la tupla
* Muestra el 2º elemento de la lista y el penúltimo de la tupla
* Modifica (si se puede) algún elemento de la lista y de la tupla. Y mostrar el resultado
* Muestra el tamaño de la lista y de la tupla
* Realiza una búsqueda de un elemento dentro de la lista y de la tupla. Mostrar si devuelve True o False
* Añade (si se puede) algún elemento a la lista y a la tupla. Mostrar de nuevo la lista y la tupla para verificar si se ha realizado correctamente la acción.
* Borra o elimina (si se puede) el contenido de la lista y de la tupla. Mosstrar de nuevo la lista y la tupla para verificar si se ha realizado correctamente la acción

In [1]:
viaje = ["Alex","Rocio", "Francia", 2022]
print(viaje)

['Alex', 'Rocio', 'Francia', 2022]

In [2]:
comida = ("desayuno","almuerzo", "cena")
print(comida)

('desayuno', 'almuerzo', 'cena')

In [8]:
print(viaje)
print(viaje[1])
#Mostrando el 2º elemento de la lista

['Alex', 'Rocio', 'Francia', 2022]
Rocio

In [9]:
print(comida)
print(comida[1])
# Mostrando el penúltimo elemento de la tupla

('desayuno', 'almuerzo', 'cena')
almuerzo

In [10]:
print(viaje)
viaje[2] = "Portugal"
print(viaje)
# Modifico el elemento 2 de la lista por otro string accediendo a su índice

['Alex', 'Rocio', 'Francia', 2022]
['Alex', 'Rocio', 'Portugal', 2022]

In [11]:
print(comida)
# Las tuplas no son modificables

('desayuno', 'almuerzo', 'cena')

In [12]:
print(len(viaje))
# El tamaño de la lista, numero de elementos

4

In [13]:
print(len(comida))
# El tamaño de la tupla, numero de elementos

3

In [14]:
print(viaje)
print("Alex" in viaje)
# Realizo una busqueda dentro de la lista empleando el operador in

['Alex', 'Rocio', 'Portugal', 2022]
True

In [15]:
print(comida)
print("merienda" in comida)
# Realizo una busqueda dentro de la tupla empleando el operador in

('desayuno', 'almuerzo', 'cena')
False

In [16]:
viaje = ["Alex","Rocio", "Francia", 2022] + ["Isabel", 12, 1500]
print(viaje)
# Añado elementos a la lista original

['Alex', 'Rocio', 'Francia', 2022, 'Isabel', 12, 1500]

In [17]:
comida = comida + (9, 14, 21)
print(comida)
# Añado elementos a la tupla original

('desayuno', 'almuerzo', 'cena', 9, 14, 21)

In [18]:
print(viaje)
viaje = []
print(viaje)
# Elimino el contenido de la lista asignando una lista vacia

['Alex', 'Rocio', 'Francia', 2022, 'Isabel', 12, 1500]
[]

In [19]:
print(comida)
comida = ()
print(comida)
# Elimino el contenido de la tupla asignando una tupla vacia

('desayuno', 'almuerzo', 'cena', 9, 14, 21)
()

**2) Trabajemos con sets y diccionarios**
* Crea una set y un diccionario que contengan strings (al menos 3 elementos en el caso del set y 3 conjuntos de clave:valor en el caso del diccionario). Tematica libre, sobre lo que quieras, vehiculos, comida, música, etc.
* Muestra el set y el diccionario
* Muestra (si se puede) el 2º elemento del set y el valor del primer clave-valor del diccionario
* Modifica (si se puede) algún elemento del set o del diccionario. Y mostrar el resultado
* Muestra el tamaño del set y del diccionario
* Realiza una búsqueda de un elemento dentro del set y dentro del diccionario. Mostrar si devuelve True o False
* Añade (si se puede) algún elemento al set y algun clave-valor al diccionario. Mostrar de nuevo el set y el diccionario para verificar si se ha realizado correctamente la acción.
* Borra o elimina (si se puede) el contenido del set y del diccionario. Mosstrar de nuevo el set y el diccionario para verificar si se ha realizado correctamente la acción

In [1]:
nombres = {"Alex", "Rocio", "Macarena", "Javi"}
print(nombres)

{'Alex', 'Macarena', 'Rocio', 'Javi'}

In [7]:
vehiculo = {
    "marca" : "Fiat",
    "modelo" : "Punto",
    "año" : 2008,
    "precio" : 4000
}
print(vehiculo)

{'marca': 'Fiat', 'modelo': 'Punto', 'año': 2008, 'precio': 4000}

In [8]:
print(type(nombres))
print(type(vehiculo))

<class 'set'>
<class 'dict'>

In [11]:
print(nombres)
# Los set no tienen sistema de índices por lo que no puedo mostrar el 2º elemento

{'Alex', 'Macarena', 'Rocio', 'Javi'}

In [12]:
valorquemeinteresa = vehiculo["marca"]
print(valorquemeinteresa)

Fiat

In [16]:
print(nombres)
# El set no es modificable pero si ampliable

{'Alex', 'Macarena', 'Rocio', 'Javi'}

In [17]:
vehiculo ["precio"] = 3500
print(vehiculo)
# El valor modificado del dict es el precio

{'marca': 'Fiat', 'modelo': 'Punto', 'año': 2008, 'precio': 3500}

In [19]:
print(len(nombres))
# Tamaño del set

4

In [20]:
print(len(vehiculo))
# Tamaño del dict

4

In [22]:
print("Alex" in nombres)
# Realizo una búsqueda de un elemento dentro del set con el operador in

True

In [23]:
print("Carmen" in nombres)

False

In [24]:
print("modelo" in vehiculo)
# Realizo una búsqueda de una clave del dict con el operador in

True

In [25]:
print("estado" in vehiculo)

False

In [26]:
nombres.add("Juan")
print(nombres)
# Añado un elemento al set con la función .add() pero lo añade de manera arbitraria

{'Alex', 'Rocio', 'Javi', 'Juan', 'Macarena'}

In [27]:
vehiculo["color"] = "verde"
print(vehiculo)
# Añado un elemento al dict gracias a la asignación

{'marca': 'Fiat', 'modelo': 'Punto', 'año': 2008, 'precio': 3500, 'color': 'verde'}

In [28]:
print(nombres)
print(vehiculo)

{'Alex', 'Rocio', 'Javi', 'Juan', 'Macarena'}
{'marca': 'Fiat', 'modelo': 'Punto', 'año': 2008, 'precio': 3500, 'color': 'verde'}

In [29]:
nombres.clear()
print(nombres)

set()

In [30]:
vehiculo.clear()
print(vehiculo)
# Tanto el set como el dict comparten el método .clear() para el borrado total de la información

{}

In [31]:
print(nombres)
print(vehiculo)

set()
{}

**3) Realizar un programa que pida al usuario 3 números que pueden ser flotantes (no es necesario realizar bucles aún, podemos repetir el código), estos números se deberán introducir en una lista. Cuando se haya finalizado la introducción de los datos, se mostrará el sumatorio de toda la lista. Guardar el sumatorio en una variable que se llame "sumatorio"**

*Ayuda: Existe una función llamada sum(lista) ¡Pruébalo!*

In [13]:
nombre = input("Introduzca su nombre:")
apellido = input("Introduzca su apellido:")
salario = input("Salario de los últimos 3 meses:")
datos = [nombre,apellido,salario]
print(datos)

Introduzca su nombre:Alejandro
Introduzca su apellido:Campos
Salario de los últimos 3 meses:2000.15,2000.45,2105.87
['Alejandro', 'Campos', '2000.15,2000.45,2105.87']

In [14]:
salario = [2000.15,2000.45,2105.87]
sumatorio = sum(salario)
print(sumatorio)

6106.47

**4) Sobre el ejercicio anterior, queremos mostrar la media aritmética de los elementos de esa lista. Indicar la instrucción necesaria para obtenerla.**

*En este caso sabemos que el número de elementos que ha introducido el usuario es 3, pero en otra ocasión podría ser diferente, por lo tanto, no hagáis referencia al número 3 en ningún sitio*

In [17]:
import numpy
salario = [2000.15,2000.45,2105.87]
print("La media aritmetica es =",numpy.mean(salario))
# He usado la funcion numpy.mean() para calcular la media aritmética sin hacer referencia al número 3

La media aritmetica es = 2035.49

**5) Dada la siguiente matriz de notas (una matriz es una lista de listas anidadas) se observa que cada fila es un listado de notas de un alumno, donde en la última posición de cada lista se encuentra el sumatorio de todas las notas anteriores de esa lista. Pero apreciamos que hay varios errores en los sumatorios de varios alumnos, utilizar la técnica de slicing para acceder a estas posiciones y modificar los valores erroneos de la forma más automatizada posible.**

* No vale poner directamente los valores:
```python
notas[1][3] = 60
notas[3][3] = 120
```
* Hay que buscar una forma automatizada de acceder y modificar esos valores

In [31]:
notas = [ 
    [10, 10, 10, 30],
    [20, 20, 20, 70],
    [30, 30, 30, 90],
    [40, 40, 40, 130]
]

In [32]:
print(notas)

[[10, 10, 10, 30], [20, 20, 20, 70], [30, 30, 30, 90], [40, 40, 40, 130]]

In [56]:
notas = [ 
    [10, 10, 10, 30],
    [20, 20, 20, 70],
    [30, 30, 30, 90],
    [40, 40, 40, 130]
]
print(notas)
notas[1][3] = 60
notas[3][3] = 120
print(notas)
# He modificado esos valores accediendo al índice de la lista

[[10, 10, 10, 30], [20, 20, 20, 70], [30, 30, 30, 90], [40, 40, 40, 130]]
[[10, 10, 10, 30], [20, 20, 20, 60], [30, 30, 30, 90], [40, 40, 40, 120]]

**6) Supongamos que obtenemos una cadena de texto corrupta, esta al revés. Esta cadena contiene el nombre y el año de nacimiento de una persona. Formatear dicha cadena para obtener el siguiente formato:**

* Empleado ***Nombre*** ***Apellido*** nacido en el año ***Año***

*Pista: Para invertir el orden una cadena usando técnicas de slicing se puede utilizar un tercer índice -1: cadena[::-1]*

In [64]:
cadena = "zereP solraC,5891"

In [65]:
print(cadena[::-1])

1985,Carlos Perez

In [116]:
print(cadena)

Empleado Carlos Perez nacido en el año 1985

**7) Practiquemos con conjuntos:**
* Crea un conjunto llamado mamíferos que tenga los elementos Gato, León, Caballo, Ballena y Tortuga
* Crea un conjunto llamado peces que tenga los elementos Ballena y Sardina
* Borra la Tortuga del conjunto mamiíferos
* Añade el Pez Payaso al conjunto peces
* Imprime los conjuntos por pantalla
* Imprime por pantalla los elementos que se encuentren en ambos conjuntos, es decir, que sean mamíferos y peces

In [69]:
mamíferos = {"Gato", "León", "Caballo", "Ballena", "Tortuga"}
print(mamíferos)

{'Tortuga', 'Ballena', 'León', 'Caballo', 'Gato'}

In [70]:
peces = {"Ballena","Sardina"}
print(peces)

{'Sardina', 'Ballena'}

In [72]:
mamíferos = {"Gato", "León", "Caballo", "Ballena", "Tortuga"}
print(mamíferos)
mamíferos.remove("Tortuga")
print(mamíferos)
# He eliminado el item Tortuga del set utilizando .remove()

{'Tortuga', 'Ballena', 'León', 'Caballo', 'Gato'}
{'Ballena', 'León', 'Caballo', 'Gato'}

In [73]:
peces = {"Ballena","Sardina"}
print(peces)
peces.add("Pez Payaso")
print(peces)
# He añadido el item Pez Payaso al set utilizando .add()

{'Sardina', 'Ballena'}
{'Pez Payaso', 'Sardina', 'Ballena'}

In [74]:
print(mamíferos)
print(peces)

{'Ballena', 'León', 'Caballo', 'Gato'}
{'Pez Payaso', 'Sardina', 'Ballena'}

In [75]:
print(mamíferos,peces)

{'Ballena', 'León', 'Caballo', 'Gato'} {'Pez Payaso', 'Sardina', 'Ballena'}

**8) Practiquemos con diccionarios. Tenemos un diccionario que contiene una serie de productos. Realicemos las tres siguientes tareas:**
* Ver productos
* Subir el precio a todos los productos
* Volver a ver todos los precios (para comprobar que el precio ha subido)

Al inicio del programa, se mostrarán todos los productos, tienen que aparecer ordenados con el siguiente formato: <br><code>1 - Arduino - 30€</code><br>
Posteriormente, a todos los productos se aplicará una subida del 50% a todos los precios de productos.<br>
Y finalmente volveremos a mostrar todos los productos para comprobar la subida de precios.

In [148]:
productos = { 
    'id':[1,2,3], 
    'nombre1':['Arduino', 'RPi', 'Print 3D'], 
    'precio': [30, 70, 300] 
     }

In [149]:
print(productos)

{'id': [1, 2, 3], 'nombre1': ['Arduino', 'RPi', 'Print 3D'], 'precio': [30, 70, 300]}

In [150]:
productos["precio"] = 50,100,500
print(productos)
# Precio subido a todos los productos

{'id': [1, 2, 3], 'nombre1': ['Arduino', 'RPi', 'Print 3D'], 'precio': (50, 100, 500)}

In [151]:
print(precio)

[50, 100, 500]

In [152]:
print("1","-","Arduino","-",50,"€")
print("2","-","RPI","-",100,"€")
print("3","-","Print 3D","-",500,"€")

1 - Arduino - 50 €
2 - RPI - 100 €
3 - Print 3D - 500 €

In [155]:
pr1 = 50
pr11 = pr1+pr1*0.5
print("Subida de precio de 50% del producto Arduino:",pr11,"€")

Subida de precio de 50% del producto Arduino: 75.0 €

In [156]:
pr2 = 100
pr22 = pr2+pr2*0.5
print("Subida de precio de 50% del producto RPI:",pr22,"€")

Subida de precio de 50% del producto RPI: 150.0 €

In [157]:
pr3 = 500
pr33 = pr3+pr3*0.5
print("Subida de precio de 50% del producto Print 3D:",pr33,"€")

Subida de precio de 50% del producto Print 3D: 750.0 €